<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReDirect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <h6 class="navbar-item"><a href='/' class='dashboard-link'>Dashboard</a></h6>
                <!-- <a class="navbar-item brand-text" href="../index.html">
                    Bulma Admin
                </a> -->
                <!-- <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div> -->
            </div>
            <!-- <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="admin.html">
                        Home
                    </a>
                    <a class="navbar-item" href="admin.html">
                        Orders
                    </a>
                    <a class="navbar-item" href="admin.html">
                        Payments
                    </a>
                    <a class="navbar-item" href="admin.html">
                        Exceptions
                    </a>
                    <a class="navbar-item" href="admin.html">
                        Reports
                    </a>
                </div>
            </div>   -->
        </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
        <div class="columns">
            <!-- <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">Dashboard</a></li>
                        <li><a>Customers</a></li>
                        <li><a>Other</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a>Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                                <li><a>Remove a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                        <li><a>Payments</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                        <li><a>Reports</a></li>
                    </ul>
                </aside>
            </div> -->
            <div class="column is-full">
                <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="../">Bulma</a></li>
                        <li><a href="../">Templates</a></li>
                        <li><a href="../">Examples</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
                    </ul>
                </nav> -->
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello
                            </h1>
                            <h2 class="subtitle">
                                Hope you are having a great day!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ tweets }}</p>
                                <p class="subtitle">Total Tweets Mined</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ complaints }}</p>
                                <p class="subtitle">Complaints Detected</p>
                            </article>
                        </div>
                        <!-- <div class="modal">
                            <div class="modal-background"></div>
                                <div class="modal-content">
                                    Any other Bulma elements you want
                                </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                        </div> -->
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <a href='/categories'><p class="title">17</p>
                                <p class="subtitle">Categories</p></a>
                            </article>
                        </div>
                        <!-- <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">19</p>
                                <p class="subtitle">Exceptions</p>
                            </article>
                        </div> -->
                    </div>
                </section>
                <div class="rows">
                    <div class="row is-full">
                        <!-- <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Tweet Search
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input is-large" type="text" placeholder="">
                                        <span class="icon is-medium is-left"><i class="fa fa-search"></i></span>
                                        <span class="icon is-medium is-right"><i class="fa fa-check"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">Recent Tweets</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            {% for i in range(tweetText|length) %}
                                            <tr>
                                                <!-- <td width="5%"><i class="fa fa-bell-o"></i></td> -->
                                                <td style="width: 70%">{{ tweetText[i] }}</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="/tweetDetails/{{ i }}">View</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Refresh</a>
                            </footer>
                        </div>
                    </div>
                    <div class="row is-full">
                        <!-- <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Inventory Search
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input is-large" type="text" placeholder="">
                                        <span class="icon is-medium is-left"><i class="fa fa-search"></i></span>
                                        <span class="icon is-medium is-right"><i class="fa fa-check"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Tweet Dataset Graph
                                </p>
                            </header>
                            <div class="rows">

                                <div class='row'>
                                    <div class='columns'>
                                        <div class='column is-6'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot1.png'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='column is-6'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot2.png'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='columns'>
                                        <div class='column is-full'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot3.png'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='columns'>
                                        <div class='column is-full'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot4.png'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class='row'>
                                    <div class='columns'>
                                        <div class='column is-6'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot4.png'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='column is-6'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot5.png'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class='row'>
                                    <div class='columns'>
                                        <div class='column is-6'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot5.png'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='column is-6'>
                                            <div class="card-content">
                                                <div class="content">
                                                    <img src='../static/images/plot6.png'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                
                            </div>
                        </div>

                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Algorithms
                                </p>
                            </header>
                            <div class="rows">
                                <div class='columns'>
                                    <div class='column is-full'>
                                        <div class="column is-12">
                                            <div class="card events-card">
                                                <!-- <div class="card-table"> -->
                                                    <div class="content">
                                                        <table class="table is-fullwidth is-striped">
                                                            <thead>
                                                                <tr>
                                                                  <th><abbr title="Algorithm">Algorithm</abbr></th>
                                                                  <th><abbr title="Accuracy - Complaint Classification">Accuracy - Complaint Classification</abbr></th>
                                                                  <th><abbr title="Accuracy - Category Classification">Accuracy - Category Classification</abbr></th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <tr>
                                                                  <th>K Neighbors</th>
                                                                  <td>85.54</td>
                                                                  <td>85.54</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Decision Tree</th>
                                                                    <td>86.72</td>
                                                                    <td>85.48</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Random Forest</th>
                                                                    <td>85.6</td>
                                                                    <td>85.6</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>SGD</th>
                                                                    <td>88.13</td>
                                                                    <td>86.72</td>
                                                                </tr>
                                                               </tbody>
                                                        </table>
                                                    </div>
                                                <!-- </div> -->
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script async type="text/javascript" src="/static/js/bulma.js"></script> -->
</body>

</html>